**Exercise 1 The following text is given:**

text = 'python is a popular programming language.'

Use the appropriate method to replace the first letter of the text with uppercase. Print the result to the console.


Expected result:

Python is a popular programming language.

In [1]:
text = 'python is a popular programming language.'

print(text.capitalize())

Python is a popular programming language.

**Exercise 2 The following text is given:**

text = 'python is a popular programming language.'

Using the appropriate method count the number of occurrences of the letter 'p' and print the result to the console as shown below.


Expected result:

Number of occurrences: 4

In [9]:
text = 'python is a popular programming language.'

print(f"Number of occurences: {text.count('p')}")

Number of occurences: 4

**Exercise 3 The following codes are given:**

code1 = 'FVNISJND-XX-2020'
code2 = 'FVNISJND-XY-2019'

Using the appropriate method check if the codes end in '2020'. Print the result to the console as shown below.

Expected result:

code1: True
code2: False

In [11]:
code1 = 'FVNISJND-XX-2020' 
code2 = 'FVNISJND-XY-2019'

print(f"code1: {code1.endswith('2020')}")
print(f"code2: {code2.endswith('2020')}")

code1: True
code2: False

**Exercise 4 The following paths are given:**

path1 = 'youtube.com/watch?v=5EhRztVxums'
path2 = 'google.com/search?q=car'

Using the appropriate method check if the paths refer to YouTube (e.g. start with 'youtube'). Print the result to the console as shown below.

Expected result:

path1: True
path2: False

In [12]:
path1 = 'youtube.com/watch?v=5EhRztVxums' 
path2 = 'google.com/search?q=car'

print(f"path1: {path1.startswith('youtube')}")

print(f"path2: {path2.startswith('youtube')}")

path1: True
path2: False

**Exercise 5 The following paths are given:**

path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer'
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'

Using the appropriate method, find the word 'scientist' in the given paths, returning the index for the first letter of the found word. If the word is not in the path, the method should return -1. Print the result to the console as shown below.

Expected result:

path1: 49
path2: 49
path3: -1

In [14]:
path1 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer' 
path2 = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-deep-learning-engineer' 
path3 = 'https://e-smartdata.teachable.com/p/sciezka-bi-analyst-data-analyst'

print(f"path1: {path1.find('scientist')}")
print(f"path2: {path2.find('scientist')}")
print(f"path3: {path3.find('scientist')}")

path1: 49
path2: 49
path3: -1

**Exercise 6 The following codes are given:**

code1 = 'FVNISJND-20'
code2 = 'FVNISJND20'

Using the appropriate method, check whether the codes consist only of alphanumeric characters (numbers + letters). Print the result to the console as shown below.

Expected result:

code1: False
code2: True

In [17]:
code1 = 'FVNISJND-20' 
code2 = 'FVNISJND20'

print(f"code1: {code1.isalnum()}")

print(f"code2: {code2.isalnum()}")

code1: False
code2: True

**Exercise 7 The following text is given:**

text = 'Google Colab'

Using the appropriate method convert all letters to lowercase. Print the result to the console.

Expected result:

google colab

In [18]:
text = 'Google Colab'

print(text.lower())

google colab

**Exercise 8 The following text is given:**

text = 'Google Colab'

Using the appropriate method convert all letters to uppercase. Print the result to the console.

Expected result:

GOOGLE COLAB

In [19]:
text = 'Google Colab'
print(text.upper())

GOOGLE COLAB

**Exercise 9 The following text is given:**

text = '  Google Colab   '

Using the appropriate method remove whitespace characters around the text. Print the result to the console.

Expected result:

Google Colab

In [21]:
text = ' Google Colab '
print(text.strip())

Google Colab

**Exercise 10 The following code is given:**

code = 'FVNISJND-XX'

Using the appropriate method replace the dash with a space. Print the result to the console.

Expected result:

FVNISJND XX

In [22]:
code = 'FVNISJND-XX'
print(code.replace('-',' '))

FVNISJND XX

**Exercise 11 The following text is given:**

text = '340-23-245-235'

Using the appropriate method remove all dashes from the text. Print the result to the console.

Expected result:

34023245235

In [23]:
text = '340-23-245-235'

print(text.replace('-',''))

34023245235

**Exercise 12 The following text is given:**

text = 'Open,High,Low,Close'

Using the appropriate method split the text by comma. Print the result as a list to the console as shown below.

Expected result:

['Open', 'High', 'Low', 'Close']

In [24]:
text = 'Open,High,Low,Close'

print(text.split(','))

['Open', 'High', 'Low', 'Close']

**Exercise 13 The following text is given:**

text = """Python is a general-purpose language.
Python is popular."""

Using the appropriate method, split the text into sentences. Print the result as a list to the console.

Expected result:

['Python is a general-purpose language.', 'Python is popular.']

In [28]:
text = """Python is a general-purpose language.
Python is popular."""
print(text.splitlines())

['Python is a general-purpose language.', 'Python is popular.']

**Exercise 14 The following variable is given:**

num = 34

Using the appropriate method for an object of type str, print the variable num preceded by four zeros to the console as shown below.

Expected result:

000034

In [29]:
num = 34
print('0'*4 + str(num))

000034

In [32]:
num = 34
print(str(num).zfill(6))

000034

**Exercise 15 From the given url:**

url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'

**extract the slug after the last character '/'. Then replace all dashes with spaces and print the result to the console as shown below.**

Expected result:

sciezka data scientist machine learning engineer

In [35]:
url = 'https://e-smartdata.teachable.com/p/sciezka-data-scientist-machine-learning-engineer'

name = url.split('/')[-1]

name = name.replace('-',' ')

print(name)

sciezka data scientist machine learning engineer