**Exercise 1 Two following tuples are given:**

dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')

Combine these tuples into one as shown below and print the result to the console.

Expected result:

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

In [2]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US'); dji2 = ('HD.US', 'GS.US', 'NKE.US')

print(dji1+dji2)

('AAPL.US', 'IBM.US', 'MSFT.US', 'HD.US', 'GS.US', 'NKE.US')

**Exercise 2 The following tuples are given:**

dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US')
dji2 = ('HD.US', 'GS.US', 'NKE.US')

Nest these tuples into one tuple as shown below and print the result to the console.

Expected result:

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

In [4]:
dji1 = ('AAPL.US', 'IBM.US', 'MSFT.US'); dji2 = ('HD.US', 'GS.US', 'NKE.US')

result = (dji1,dji2)
print(result)

(('AAPL.US', 'IBM.US', 'MSFT.US'), ('HD.US', 'GS.US', 'NKE.US'))

**Exercise 3 Tuples are immutable. The following tuple is given:**

members = (('Kate', 23), ('Tom', 19))

Insert a tuple ('John', 26) between Kate and Tom as shown below. Print the result to the console.

Tip: You have to create a new tuple.

Expected result:

(('Kate', 23), ('John', 26), ('Tom', 19))

In [7]:
members = (('Kate', 23), ('Tom', 19))

members = (members[0],('John',26),members[1])

print(members)

(('Kate', 23), ('John', 26), ('Tom', 19))

**Exercise 4 The following tuple is given:**

default = ('YES', 'NO', 'NO', 'YES', 'NO')

Using the appropriate method return the number of occurrences of the string 'YES' and print the result to the console as shown below.

Expected result:

Number of occurrences: 2

In [13]:
default = ('YES', 'NO', 'NO', 'YES', 'NO')

print(f"Number of occurrences: {default.count('YES')}")

Number of occurrences: 2

**Exercise 5 Sort the given tuple (from A to Z):**

names = ('Monica', 'Tom', 'John', 'Michael')

Print the sorted tuple to the console as shown below.

Expected result:

('John', 'Michael', 'Monica', 'Tom')

In [27]:
names = ('Monica', 'Tom', 'John', 'Michael')

sorted_names = tuple(sorted(names))

print(sorted_names)

('John', 'Michael', 'Monica', 'Tom')

**Exercise 6 The following tuple is given (name, age):**

info = (('Monica', 19), ('Tom', 21), ('John', 18))

Sort this tuple:

ascending by age

descending by age

And print the result to the console as shown below.

Expected result:

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

In [33]:
info = (('Monica', 19), ('Tom', 21), ('John', 18))

asc = tuple(sorted(info, key=lambda item: item[1])) 
dsc = tuple(sorted(info, key=lambda item: item[1], reverse=True))
#sorted() returns list of objects

print(f"Ascending: {asc}")
print(f"Descending: {dsc}")

Ascending: (('John', 18), ('Monica', 19), ('Tom', 21))
Descending: (('Tom', 21), ('Monica', 19), ('John', 18))

**Exercise 7 The following tuple is given:**

stocks = (
    ('Apple Inc', ('AAPL.US', 310)),
    ('Microsoft Corp', ('MSFT.US', 184)),
)

Extract a ticker for Apple and print the result to the console.

Expected result:

AAPL.US

In [36]:
stocks = ( ('Apple Inc', ('AAPL.US', 310)), ('Microsoft Corp', ('MSFT.US', 184)), )

print(stocks[0][1][0])

AAPL.US